<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="professor/professorTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>膜拜专家</title>
</head>
<body>
<div layout:fragment="contentInfo">
	<div>
			<table id="artileTable" name="artileTable">
				<thead>
					<tr>
						<th>用户名</th>
						<th>专家长项</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<form>
						<tr th:each="professorListVo:${professorList}">
							<td th:utext="${professorListVo.userName}">专家姓名</td>
							<td th:utext="${professorListVo.type}">专家姓名</td>
							<td>
							<a th:href="@{'/seeProfessorDetail/'+${professorListVo.id}}" >查看</a>
							<a href="javascript:void(0)" th:onclick="'attentionProfessor('+${professorListVo.id}+')'">关注</a>
							</td>
						</tr>
					</form>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#artileTable').DataTable({
					"processing" : true,
					"paging" : true,
					"pagingType" : "full_numbers"
				});
			});
		</script>
		<script type="text/javascript" src="../../layer-v3.1.1/layer/mobile/layer.js"></script>
		<script type="text/javascript">
		function seeProfessor(id) {
			$.post('/seeProfessorDetail/' + id, {
				"id" : id
			}, function(str) {
				layer.open({
					type :3,
					title:"文章详情",
					shadeClose: true,//点击外围   关闭
			        shade: [0.8, '#393D49'],//遮蔽层
			        closeBtn: 2,
			        maxmin: true,
			        area: ['700px', '600px'],
					content : str
				// 注意，如果str是object，那么需要字符拼接。
				});
			});
		}
		</script>
		
		<script type="text/javascript">
			function attentionProfessor(id) {
				$.post('/attentionProfessor/' + id, {
					"id" : id
				}, function(str) {
					layer.open({
						type :3,
						title:"关注资讯专家",
						shadeClose: true,//点击外围   关闭
				        shade: [0.8, '#393D49'],//遮蔽层
				        closeBtn: 2,
				        maxmin: true,
				        area: ['700px', '600px'],
						content : str
					// 注意，如果str是object，那么需要字符拼接。
					});
				});
			}
		</script>
	</div>
	
</body>
</html>
