<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en">
	<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<!-- Bootstrap core CSS -->
<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom fonts for this template -->
<link href="../../vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
	rel='stylesheet' type='text/css'>
<link href="../../css/sidebar.css" rel="stylesheet" type="text/css" />
<!-- Custom styles for this template -->
<link href="../../css/agency.min.css" rel="stylesheet">
<script type="text/javascript"
	src="../../js/jquery.min.js"></script>
	<!-- <script type="text/javascript" src = "../../jquery/jquery.min.js"></script> -->
<!--   bootstrap 分页 -->
  <script src="../../js/bootstrap-paginator.js"></script>
<script type="text/javascript" charset="utf-8"
	src="../../ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="../../ueditor/ueditor.all.min.js"/>
<script type="text/javascript" charset="utf-8"
	src="../../ueditor/ueditor.all.js">
</script>
<script type="text/javascript" charset="utf-8"
	src="../../ueditor/lang/zh-cn/zh-cn.js"></script>
<!-- DataTables -->
  	<link href="../../datatables/jquery.dataTables.css" rel="stylesheet"/>
    <script src="../../datatables/jquery.dataTables.js"></script>
<!-- 3.0 -->
<link
href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<!-- Bootstrap Core CSS -->
<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom Fonts -->
<link href="../../vendor/font-awesome/css/font-awesome.min.css"
	rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Kaushan+Script'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
	rel='stylesheet' type='text/css'>
<link
	href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
	rel='stylesheet' type='text/css'>

<!-- Theme CSS -->
<link href="../../css/agency.min.css" rel="stylesheet">

<script type="text/javascript" charset="utf-8" src="../../lang/zh-cn/zh-cn.js"></script>
<!-- Bootstrap table -->
<link rel="stylesheet" href="../../static/css/bootstrap-table.css">
<script src="../../static/js/bootstrap-table.js"></script>
<!-- 汉化文件，放在 bootstrap-table.js 后面 -->
<script src="../../static/locale/bootstrap-table-zh-CN.js"></script>


<!--  DataTables -->
 <link rel="stylesheet" href="../../datatables/dataTables.bootstrap.css"/>
<!-- layui -->
<link rel="stylesheet" href="../../layer-v3.1.1/layer/mobile/need/layer.css">
<style type="text/css">
div {
	width: 80%;
}
</style>

<style type="text/css">
div {
	width: 80%;
}
</style>


<style type="text/css">
div {
	width: 80%;
}
</style>

<title>咨询中心</title>
<body>
	<div layout:fragment="navigationInfo"
		style="width: 100%; background-image: url(../../img/infoTemplate.png); background-size: cover; height: 80px">
		<span>创作中心</span> <a th:href="application">申请为资讯专家</a>
	</div>
	<div layout:fragment="sidebarInfo"
		style="float: left; background-image: url(../../img/infoSidebar.png); width: 100px; height: 400px">
		<table>
			<tr style="color: yellow;">专家管理
			</tr>
			<br />
			<tr>
				<a class="btn btn-small"  th:href="professorList">专家列表</a>
			</tr>
			<br />
			<tr>
				<a class="btn btn-small"  th:href="myAttentionProfessor">我关注的专家</a>
			</tr>
			<br />
		</table>
	</div>
	<div layout:fragment="contentInfo" style="float: right;">写资讯中心</div>
</body>
</html>
