<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="question/questionTemplate">
<head>
<meta charset="UTF-8">
<title>发表成功</title>
</head>
<body>

	<div layout:fragment="contentInfo">
	<script type="text/javascript" src="../../layer-v3.1.1/layer/mobile/layer.js"></script>
		<a th:href="@{seeQuestionDetail+'/'+${qId}}">查看</a> 
		<a th:href="@{addQ}">再写个问题</a>
		
		<script type="text/javascript">
		function seeQuestionDetail(id) {
			$.post('/seeQuestionDetail/' + id, {
				"id" : id
			}, function(str) {
				layer.open({
					type : 3,
					title : "问题详情",
					shadeClose : true,//点击外围   关闭
					shade : [ 0.8, '#393D49' ],//遮蔽层
					closeBtn : 2,
					maxmin : true,
					area : [ '700px', '600px' ],
					content : str
				// 注意，如果str是object，那么需要字符拼接。
				});
			});
		}
	</script>
	</div>


	
</body>
</html>