<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="question/questionTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>热门问题</title>
</head>
<body>
	<div layout:fragment="contentInfo">
		<table id="questionOrderBySeeCountTable" class="table table-hover" style="width: 100%">
				<thead>
					<tr>
						<th>标题</th>
						<th>发表时间</th>
						<th>是否已经解决</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<form>
						<tr th:each="question:${questionList}">
							<td th:utext="${question.title}">问题标题</td>
							<td th:text="${#dates.format(question.questionTime,'yyyy/MM/dd HH:mm')}">问题发表时间</td>
							<td th:text="${question.isresolve}?'已解决':'未解决'">是否解决了</td>
							<td><a href="javascript:void(0)" th:href="@{'/'+seeQuestionDetail+'/'+${question.id}}">查看</a></td>
					</tr>
					</form>
				</tbody>
			</table>
	
	
	<script type="text/javascript" src="../../layer-v3.1.1/layer/mobile/layer.js"></script>
	<script type="text/javascript" src="../../js/layerjs/questionLayer.js"></script>
		<script type="text/javascript"
	src="http://www.daimajiayuan.com/download/jquery/jquery-1.10.2.min.js"></script>
<!-- DataTables -->
<link href="../../datatables/jquery.dataTables.css" rel="stylesheet" />
<script src="../../datatables/jquery.dataTables.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('#questionOrderBySeeCountTable').DataTable({
		"processing" : true,
		"paging" : true,
		"pagingType" : "full_numbers"
	});
});
</script>
	</div>
</body>
</html>
