<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="question/questionTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>问题详情</title>
</head>
<body>
	<div layout:fragment="contentInfo">
		<table>
			<tr>
				<td>标题：</td><td th:utext="${questionDetail.title}">标题</td>
				<td>查看次数：</td><td th:text="${questionDetail.seeCount}">查看次数</td>
			</tr>
			<tr>	
				<td>正文：</td><td th:utext="${questionDetail.content}">内容</td>
			</tr>
			<tr>
				<td id="hidden" th:text="${questionDetail.id}" style="display: none;"></td>
			<tr>
		</table>
		<form action="addAnswer" method="post">
			<!--style给定宽度可以影响编辑器的最终宽度-->
			<script type="text/plain" id="content" name="content">
        		<p>问题具体描述</p>
       			 </script>
			<script type="text/javascript">
				UE.getEditor('content', {
					//focus时自动清空初始化时的内容
					autoClearinitialContent : true,
					//关闭字数统计
					wordCount : false,
					//关闭elementPath
					elementPathEnabled : false,
					//默认的编辑区域高度
					initialFrameHeight : 300
				//更多其他参数，请参考ueditor.config.js中的配置项
				})
			</script>
			<input th:type="submit" value="提交答案">
		</form>
		<h3>相关评论：</h3>
		<table id="answertable" class="display" style="width: 100%">
			<tbody>
				<tr th:each="answer:${answerList}">
					<td th:text="${answer.floor}+'楼'">楼层</td>
					<td th:utext="${answer.content}">文章标题</td><br/>
					<td th:text="${#dates.format(answer.answerTime,'yyyy/MM/dd HH:mm')}">时间</td>
					<td><a href="javascript:void(0)" th:onClick="'isAdoptAnswer('+${answer.id}+')'">采纳</a>
						<a href="javascript:void(0)" th:onClick="'isReturnAnswer('+${answer.id}+')'">回复</a>
					</td>
				</tr>
			</tbody>
		</table>


		<link href="../../datatables/jquery.dataTables.css" rel="stylesheet" />
		<script src="../../datatables/jquery.dataTables.js"></script>
		<script type="text/javascript" src="../../layer-v3.1.1/layer/mobile/layer.js"></script>
		<!-- <script type="text/javascript" src="../../layerjs/questionLayer.js"></script> -->
		<script type="text/javascript">
		//采纳连接    点击询问是否采纳   
		function isAdoptAnswer(id) {
			layer.open({
				content : '确认采纳该答案？',
				type : 2,
				btn : [ '确认', '取消' ],
				closeBtn : 1,
				yes : function(index) {
					layer.close(index);
					$.ajax({
						url : "/isAdoptAnswer/" + id,
						type : "post",
						async : false,
						success : function(data) {
							location.href = "/seeQuestionDetail";
						}
					})
				}

			});
		}
		</script>
		<script type="text/javascript">
		function isReturnAnswer(id) {
			$.post('/addReturnAnswer/' + id, {
				"id" : id
			}, function(str) {
				layer.open({
					type :3,
					title:"回复问题",
					shadeClose: true,//点击外围   关闭
			        shade: [0.8, '#393D49'],//遮蔽层
			        closeBtn: 2,
			        maxmin: true,
			        area: ['700px', '600px'],
					content : str
				// 注意，如果str是object，那么需要字符拼接。
				});
			});
		}
		</script>

		<script type="text/javascript">
			$(document).ready(function() {
				$('#answertable').DataTable({
					"processing" : true,
					"paging" : true,
					"pagingType" : "full_numbers"
				});
			});
		</script>
	</div>
</body>
</html>
