<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fileUpload/fileTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>我的上传资源</title>
</head>
<body>
	<div layout:fragment="contentInfo">
	<!-- <script type="text/javascript" src="../../js/layer.js"></script> -->
	<script type="text/javascript" src="../../layer-v3.1.1/layer/mobile/layer.js"></script>
	<script type="text/javascript" src="../../js/articleLayer.js"></script>
		<div class="well well-lg" style="padding-left: 50px;margin-left: 200px;margin-top: 100px">
			<table id="fileTable" name="fileTable" class="table table-hover">
				<thead>
					<tr>
						<th>标题</th>
						<th>发布时间</th>
						<th>上传者</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<form>
						<tr th:each="fileUploadVo:${findAllFileVoList}">
							<td th:utext="${fileUploadVo.fileName}">文章标题</td>
							<td th:text="${#dates.format(fileUploadVo.createTime,'yyyy/MM/dd HH:mm')}">发布时间</td>
							<td th:text="${fileUploadVo.userName}">发布人</td>
							<td>
								<ul class="nav nav-pills">
								<li>
								<a th:href="@{fileDetail+'/'+${fileUploadVo.id}}">查看</a>
								</li>
								<li>
								<a href="javascript:void(0)" th:onclick="'deleteArticle('+${fileUploadVo.id}+')'">删除</a>
								</li>
								</ul>
							</td>
						</tr>
					</form>
				</tbody>
			</table>
		</div>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#fileTable').DataTable({
					"processing" : true,
					"paging" : true,
					"pagingType" : "full_numbers"
				});
			});
		</script>
	</div>
</body>
</html>
