<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" mlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>搜索结果</title>
<link href="../../datatables/jquery.dataTables.css" rel="stylesheet" />
<link rel="stylesheet"
	href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript" src="../../jquery/jquery.min.js"></script>

<script
	src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- 3.0 -->
<link
	href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<!-- DataTables -->
<script src="../../datatables/jquery.dataTables.js"></script>
</head>
<body>
	<div layout:fragment="contentInfo" >
		<table id="table" name="table" class="table table-hover">
			<thead>
				<tr>
				<th>归属</th>
				<th>用户名</th>
				<th>标题</th>
				<th>内容</th>
				<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="searchVo:${searchVoList}">
					<td th:utext="${searchVo.type}">类别</td>
					<td th:utext="${searchVo.username}">用户名</td>
					<td th:utext="${searchVo.title}">标题</td>
					<td th:utext="${searchVo.content}">标题内容</td>
					<!-- 查看   就用   后台传  controller 的  requestionMapper 到前台  隐藏不显示 -->
					<td>
						<a th:href="@{'/'+${searchVo.seeUrl}+'/'+${searchVo.id}}">查看</a>
					</td>
				</tr>
			</tbody>
		</table>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#table').DataTable({
					"processing" : true,
					"paging" : true,
					"pagingType" : "full_numbers"
				});
			});
		</script>
		</div>
</body>
</html>
