<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/userTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>查看个人信息详情</title>
</head>
<body>
	<div layout:fragment="contentInfo">
	<div class="well well-lg" style="margin-top: 100px;width: 600px">
	<table class="table table-hover">
		<tr><td>姓名:</td><td th:text="${userDetailVo.userName}"></td></tr>
		<tr><td>是否是资讯专家:</td><td th:text="${userDetailVo.isprofessor}?'专家':'差点就是专家了'"></td></tr>
		<tr><td>电话:</td><td th:text="${userDetailVo.tel}"></td></tr>
		<tr><td>性别:</td><td th:text="${userDetailVo.sex}"></td></tr>
		<tr><td>注册时间:</td><td th:text="${#dates.format(userDetailVo.createTime,'yyyy/MM/dd HH:mm')}"></td></tr>
		<tr><td>积分:</td><td th:text="${userDetailVo.integration}"></td></tr>
		<tr><td>发表文章数量:</td><td th:text="${userDetailVo.articleCount}"></td></tr>
		<tr><td>提出问题数量:</td><td th:text="${userDetailVo.questionCount}"></td></tr>
	</table>
	</div>
	<div class="panel panel-warning" style="width: 700px">
			<div class="panel-heading" style="width: 700px">
				<h3 class="panel-title">我的文章</h3>
			</div>
			<div class="panel-body" style="width: 700px">
				<table id="artileTable2" name="artileTable2">
					<thead>
						<tr>
							<th>标题</th>
							<th>原创</th>
							<th>私密</th>
							<th>发布</th>
							<th>发布时间</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<form>
							<tr th:each="article:${articleList}">
								<td th:utext="${article.title}">文章标题</td>
								<td th:utext="${article.original}?'原创':'非原创'">是否原创</td>
								<td th:utext="${article.isprivate}?'私密':'非私密'">是否私密</td>
								<td th:utext="${article.ispublish}?'发布':'非发布'">是否发布</td>
								<td
									th:text="${#dates.format(article.createTime,'yyyy/MM/dd HH:mm')}">发布时间</td>
								<td><a th:href="@{'/seeOneArticle/user/'+${article.id}}">查看</a>
								</td>
							</tr>
						</form>
					</tbody>
				</table>
			</div>
		</div>

		<div class="panel panel-success" style="width: 700px">
			<div class="panel-heading" style="width: 700px">
				<h3 class="panel-title">我提出的问题</h3>
			</div>
			<div class="panel-body" style="width: 700px">
				<table id="MyQuestionTable2" class="table table-hover"
					style="width: 100%">
					<thead>
						<tr>
							<th>标题</th>
							<th>发表时间</th>
							<th>是否已经解决</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						<form>
							<tr th:each="question:${myQuestionList}">
								<td th:utext="${question.title}">问题标题</td>
								<td
									th:text="${#dates.format(question.questionTime,'yyyy/MM/dd HH:mm')}">问题发表时间</td>
								<td th:text="${question.isresolve} ? '已解决' : '未解决'">是否解决了</td>
								<td><a href="javascript:void(0)"
									th:href="@{'/seeQuestionDetail/user/'+${question.id}}">查看</a>
							</tr>
						</form>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
