<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/userTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>查看个人信息详情</title>
</head>
<body>
	<div layout:fragment="contentInfo">
	<div class="well well-lg" style="margin-top: 100px;width: 600px">
	<table class="table table-hover">
		<tr><td>姓名:</td><td th:text="${userDetailVo.userName}"></td></tr>
		<tr><td>是否是资讯专家:</td><td th:text="${userDetailVo.isprofessor}?'专家':'差点就是专家了'"></td></tr>
		<tr><td>电话:</td><td th:text="${userDetailVo.tel}"></td></tr>
		<tr><td>性别:</td><td th:text="${userDetailVo.sex}"></td></tr>
		<tr><td>注册时间:</td><td th:text="${#dates.format(userDetailVo.createTime,'yyyy/MM/dd HH:mm')}"></td></tr>
		<tr><td>积分:</td><td th:text="${userDetailVo.integration}"></td></tr>
		<tr><td>发表文章数量:</td><td th:text="${userDetailVo.articleCount}"></td></tr>
		<tr><td>提出问题数量:</td><td th:text="${userDetailVo.questionCount}"></td></tr>
	</table>
	</div>
	</div>
</body>
</html>
