<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/userTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>Thymeleaf</title>
</head>
<body>
	<div layout:fragment="contentInfo">
		<form action="updatePassword">
			<label>电话：</label><input th:type="text" id="userName" name="userName">
			<label>密码：</label><input th:type="password" id="password" name="password">
			 <label>确认密码：</label><input th:type="password" id="surepasswore" name="password"/> <input
				th:type="submit" value="确认修改密码" />
		</form>
	</div>
</body>
</html>
