<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/userTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>修改密码</title>
</head>
<body>
	<div layout:fragment="contentInfo">
	<div class="well well-lg" style="margin-top: 100px;width: 600px">
		<form th:action="@{/updatePassword}" method="post">
			<label  class="col-sm-2 control-label">用户名：</label>
			<input th:type="password" id="password" name="password" class="form-control" placeholder="密码" style="width: 500px" >
			<label  class="col-sm-2 control-label">新密码：</label>
			<input th:type="password" id="newpassword" name="newpassword" class="form-control" placeholder="密码" style="width: 500px" >
			<label  class="col-sm-2 control-label">确认密码：</label>
			<input th:type="password" id="surepasswore" name="surepasswore" class="form-control" style="width: 500px" placeholder="确认密码"/> <input
				th:type="submit" value="确认修改密码" class="btn btn-default" style="margin-top: 50px"/>
		</form>
		</div>
	</div>
</body>
</html>
