<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="user/userTemplate">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<title>修改密码</title>
</head>
<body>
	<div layout:fragment="contentInfo">
	<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="../../js/validate/jquery.validate.min.js"></script>
 <script src="../../js/icheck.min.js" th:src="@{/js/icheck.min.js}" type="text/javascript"></script>
<script type="text/javascript" src="../../js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../js/validate/messages_zh.min.js"></script>
	<div class="well well-lg" style="margin-top: 100px;width: 600px">
		<form  id="form1" th:action="@{/updatePassword}" method="post">
			<label  class="col-sm-2 control-label">用户名：</label>
			<input th:type="password" id="userName" name="userName" class="form-control" placeholder="密码" style="width: 500px" >
			<label  class="col-sm-2 control-label" style="margin-top: 20px">新密码：</label>
			<input th:type="password" id="newpassword" name="newpassword" class="form-control" placeholder="密码" style="width: 500px" >
			<label  class="col-sm-2 control-label" style="margin-top: 20px">确认密码：</label>
			<input th:type="password" id="surepasswore" name="surepasswore" class="form-control" style="width: 500px" placeholder="确认密码"/> <input
				th:type="submit" value="确认修改密码" class="btn btn-primary" style="margin-top: 50px"/>
		</form>
		</div>
		<script type="text/javascript">
	$(function() {
		// 在键盘按下并释放及提交后验证提交表单
		$("#form1").validate({
			rules : {
				userName : {
					required : true,
					minlength : 2
				},
				newpassword : {
					required : true,
					minlength : 6
				},
				surepasswore:{
					required : true,
					 equalTo:'#newpassword'
				}
			},
			messages : {
				userName : {
					required : "请输入用户名",
					minlength : "用户名必需由两个字母组成"
				},
				newpassword : {
					required : "请输入密码",
					minlength : "密码长度不能小于 6 个字母"
				},
				surepasswore : {
					required : "请输入密码",
					equalTo:"两次密码必须一致" //表示和id="password"的值相同
				}
			},
			submitHandler : function(form) {
				form.submit();
			}
		});
	});
</script>
	</div>
</body>
</html>
