<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<meta name="content-type" content="text/html; charset=UTF-8">
<body>
	<div th:fragment="sidebar">
	<table class="side_local">
		<tr>
			<td><a href="#">推荐</a></td>
		</tr>
		<tr>
			<td><a href="#">人工智能</a></td>
		</tr>
		<tr>
			<td><a href="#">Java</a></td>
		</tr>
		<tr>
			<td><a href="#">数据库</a></td>
		</tr>
		<tr>
			<td><a href="#">PHP</a></td>
		</tr>
	</table>
	</div>
</body>
</html>
