<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="content-type" content="text/html; charset=UTF-8">
<link rel="stylesheet" href="../../css/_all.css" th:href="@{/css/_all.css}">
<link rel="stylesheet" href="../../datatables/dataTables.bootstrap.css" />
<script type="text/javascript" src="../../js/jquery.min.js"></script>
<link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="../../js/validate/jquery.validate.min.js"></script>
 <script src="../../js/icheck.min.js" th:src="@{/js/icheck.min.js}" type="text/javascript"></script>
<script type="text/javascript" src="../../js/validate/jquery.validate.min.js"></script>
<script type="text/javascript" src="../../js/validate/messages_zh.min.js"></script>
<title>注册新用户</title>
<script type="text/javascript">
	$(function() {
		// 在键盘按下并释放及提交后验证提交表单
		$("#frm").validate({
			rules : {
				userName : {
					required : true,
					minlength : 2
				},
				password : {
					required : true,
					minlength : 6
				},
				surpwd:{
					required : true,
					 equalTo:'#password'
				},
				tel:{
					required : true,
					minlength : 11
				}
			},
			messages : {
				userName : {
					required : "请输入用户名",
					minlength : "用户名必需由两个字母组成"
				},
				password : {
					required : "请输入密码",
					minlength : "密码长度不能小于 6 个字母"
				},
				surpwd : {
					required : "请输入密码",
					 equalTo:"两次密码必须一致" //表示和id="password"的值相同
				}
				,
				tel : {
					required : "请输入手机号",
					minlength : "请输入11位手机号"
				}
			},
			submitHandler : function(form) {
				form.submit();
			}
		});
	});
</script>
</head>
<body style="background-image: url('img/wall/wall.gif') ">
<div class="page-header" style="text-align: center;">
		<h1 style="color: olive;">
			IT技术资讯互动平台的设计与实现 <br/><small>注册页面</small>
		</h1>
	</div>
 <div class="main">
		<div class="alert alert-danger" th:if="${message}"
			style="display: none;">
			<span th:text="${message}"></span>
		</div>
		<form th:action="@{/toregister}" method="post"  style="margin-right: 80px;width: 500px;margin-left: 500px;margin-top: 100px;background-image: url('/img/')"; id="frm">
		<input th:type="text" id="userName" name="userName" class="form-control uname" placeholder="用户名" required="required"/><br/>
		<input th:type="tel" id="tel" name="tel" class="form-control uname" placeholder="手机号" required="required"/><br/>
		<input th:type="password" id="password" class="form-control pword m-b" name="password" placeholder="密码" required="required"/><br/>
		<input th:type="password" id="surpwd" class="form-control pword m-b" name="surpwd" placeholder="确认密码" required="required"/><br/>
	<label class="radio-inline">
        <input type="radio" name="sex" value="1" id="optionsRadios3"  > 男
    </label>
    <label class="radio-inline">
        <input type="radio" name="sex" value="2" id="optionsRadios4"  checked> 女
    </label>
		<input th:type="submit" value="注册" class="btn btn-primary btn-block"><br/>
	</form>
		</div>
			<span style="margin-left: 750px">已经有账号？点击<a th:href="@{/login}">登录</a>！</span>
		<div class="page-header" style="text-align: center;">
	</div>
	</div>
</body>
</html>