
<script data-th-src="@{js/jquery.min.js}"></script>
<script data-th-src="@{js/highchart/highcharts.js}"></script>
<script data-th-src="@{js/highchart/exporting.js}"></script>
<script data-th-src="@{js/highchart/highcharts-zh_CN.js}"></script>
<script data-th-inline="javascript">
	var ctx = [[@{/}]];
</script>
<style>
.card-block, .card-footer { margin: 0 auto; }
.card-block img { border-radius: 2px; }
.card-footer { margin-bottom: 2rem; }
</style>
<div class="card">
    <div class="card-block">
    	<img/>
    </div>
    <div class="card-footer">
    	<h3 class="modal-title paint-meno" ></h3>
    </div>
</div>
<script data-th-src="@{js/app/web/one/paint.js}"></script>